@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/fonts.css */
@font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir.woff2") format("woff2"),
    url("/fonts/Vazir.woff") format("woff"),
    url("/fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --container-xs: 25rem;
}

* {
  @apply font-vazir;
}

body {
  @apply bg-gray-100 dark:bg-slate-900 dark:text-white;
}
