@layer tailwind-base, primereact, tailwind-utilities;

@import "primereact/resources/themes/lara-light-blue/theme.css"
  layer(primereact);

@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/fonts.css */
@font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir.woff2") format("woff2"),
    url("/fonts/Vazir.woff") format("woff"),
    url("/fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --container-xs: 25rem;
}

* {
  @apply font-vazir !outline-none transition-colors select-none;
}

body {
  @apply bg-gray-100 dark:bg-slate-900 dark:text-white;
  cursor: url("../../public/svg/pen.svg"), auto;
}

.glass {
  @apply isolate rounded-xl bg-slate-900/40 shadow-lg ring-1 ring-black/5;
}

.default-cursor {
  @apply !cursor-default *:!cursor-default;
}
